body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    background-color: black
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite !important;
}
.btn-primary{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

/* Div Styles */
.common{
font-family: 'Times New Roman', Times, serif;
position: absolute;
}
.top{
top: 0px;
left: 0px;
right: 0px;
}
.middle{
top: 100px;
left: 0px;
right: 0px;
}
.bottom{
position: fixed;
bottom: 0px;
left: 0px;
right: 0px;
z-index: 1;
text-align: center;
background-color: black;
font-style: italic;
font-weight: lighter;
}
.imgcenter{
    display: block;
    margin: auto;
    border: 5px bisque;
}